@{
    Layout = null;
}

<div class="container-fluid">

    <div class="row" ng-init="dashCtrl.getDashboardData()" ng-controller="DashboardController as dashCtrl">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{dashCtrl.DashboardData.NoOfItems}}</div>
                            <div>{{dashCtrl.DashboardData.NoOfItemsText}}</div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="#">

                        <span>View</span>
                        <span><i class="fa fa-arrow-circle-right"></i></span>
                        @*<div class="clearfix"></div>*@
                    </a>
                    <a href="#" class="pull-right">

                        <span><i class="fa fa-plus-circle"></i></span>
                        <span>Add</span>

                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-money fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{dashCtrl.DashboardData.TotalSpending}}</div>
                            <div>{{dashCtrl.DashboardData.TotalSpendingText}}</div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="#">

                        <span>View</span>
                        <span><i class="fa fa-arrow-circle-right"></i></span>
                        @*<div class="clearfix"></div>*@
                    </a>
                    <a href="#" class="pull-right">

                        <span><i class="fa fa-plus-circle"></i></span>
                        <span>Add</span>

                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-heart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{dashCtrl.DashboardData.WishList}}</div>
                            <div>{{dashCtrl.DashboardData.WishListText}}</div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="#">

                        <span>View</span>
                        <span><i class="fa fa-arrow-circle-right"></i></span>
                        @*<div class="clearfix"></div>*@
                    </a>
                    <a href="#" class="pull-right">

                        <span><i class="fa fa-plus-circle"></i></span>
                        <span>Add</span>

                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-user fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{dashCtrl.DashboardData.User}}</div>
                            <div>{{dashCtrl.DashboardData.UserText}}</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->