@{
    Layout = null;
}

<div>
    <uib-tabset active="active">
        @*<uib-tab index="0" heading="Static title">Static content</uib-tab>*@
        <uib-tab index="0">
            <uib-tab-heading>
                <i class="fa fa-sign-in fa-1x"><b>Sign In</b></i>
            </uib-tab-heading>
            <form name="loginForm" novalidate>
                <div class="col-sm-4 well col-sm-offset-4" ng-controller="LoginController as loginCtrl" style="margin-top: 24px;">

                    <div class="form-group">
                        <label for="userid">User Id</label>
                        <input type="email" class="form-control" required ng-model="loginCtrl.User.Email" name="userid" placeholder="User Id">
                        <ng-messages for="loginForm.userid.$error" style="color:red;" ng-show="loginForm.$submitted || loginForm.userid.$touched">
                            <div ng-messages-include="../static/messages.html"></div>
                        </ng-messages>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" required ng-model="loginCtrl.User.Password" name="password" placeholder="Password">
                        <ng-messages for="loginForm.password.$error" style="color:red;" ng-show="loginForm.$submitted || loginForm.password.$touched">
                            <div ng-messages-include="../static/messages.html"></div>
                        </ng-messages>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="loginCtrl.RemmeberMe"> Remember me
                        </label>
                    </div>
                    <button type="submit" ng-click="loginForm.$valid && loginCtrl.Submit()" class="btn btn-default">Sign In</button>
                    <button type="submit" ng-click="loginCtrl.Cancel()" class="btn btn-default">Cancel</button>
                </div>
            </form>
        </uib-tab>
        <uib-tab index="1" heading="Sign Up">
            <uib-tab-heading>
                <i class="fa fa-registered fa-1x"><b>Sign Up</b></i>
            </uib-tab-heading>
            <form name="signupForm" novalidate>
                <div class="col-sm-4 well col-sm-offset-4" ng-controller="SignUpController as signupCtrl" style="margin-top: 24px;">

                    <div class="form-group">
                        <label for="firstname">First Name</label>
                        <input type="text" class="form-control" ng-minlength="2" ng-maxlength="20" ng-model="signupCtrl.User.FirstName" name="firstname" required placeholder="First Name">
                        <ng-messages for="signupForm.firstname.$error" style="color:red;" ng-show="signupForm.$submitted || signupForm.firstname.$touched">
                            <div ng-messages-include="../static/messages.html"></div>
                        </ng-messages>
                    </div>
                    <div>
                        <label for="lastname">Last Name</label>
                        <input type="text" class="form-control" ng-model="signupCtrl.User.LastName" name="lastname" placeholder="Last Name">
                        <ng-messages for="signupForm.lastname.$error" style="color:red;" ng-show="signupForm.$submitted || signupForm.lastname.$touched">
                            <div ng-messages-include="../static/messages.html"></div>
                        </ng-messages>
                    </div>
                    <div class="form-group">
                        <label for="emailid">Email Id</label>
                        <input type="email" class="form-control" required ng-model="signupCtrl.User.Email" name="email" placeholder="Email Id" />
                        <ng-messages for="signupForm.email.$error" style="color:red;" ng-show="signupForm.$submitted || signupForm.email.$touched">
                            <div ng-messages-include="../static/messages.html"></div>
                        </ng-messages>
                    </div>

                    <div class="form-group">
                        <label for="emailid">Code</label>
                        <input type="number" class="form-control" ng-minlength="6" required ng-model="signupCtrl.User.Code" name="code" placeholder="code" />
                        <ng-messages for="signupForm.code.$error" style="color:red;" ng-show="signupForm.$submitted || signupForm.code.$touched">
                            <div ng-messages-include="../static/messages.html"></div>
                        </ng-messages>
                    </div>
                    <div class="form-group">
                        <button type="submit" ng-disabled="signupForm.email.$error" ng-click="!signupForm.email.$error && signupCtrl.GetCode()" class="btn btn-default">Get Code</button>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" ng-minlength="6" ng-maxlength="10" required ng-model="signupCtrl.User.Password" name="password" placeholder="Password" />
                        <ng-messages for="signupForm.password.$error" style="color:red;" class="has-error" ng-show="signupForm.$submitted || signupForm.password.$touched">
                            <div ng-messages-include="../static/messages.html"></div>
                        </ng-messages>
                    </div>
                    <div class="form-group">
                        <label for="Phonenumber">Phone Number</label>
                        <input type="number" ng-maxlength="10" class="form-control" required ng-model="signupCtrl.User.PhoneNumber" name="phonenumber" placeholder="Phone Number" />
                        <ng-messages for="signupForm.phonenumber.$error" style="color:red;" ng-show="signupForm.$submitted || signupForm.phonenumber.$touched">
                            <div ng-messages-include="../static/messages.html"></div>
                        </ng-messages>
                    </div>
                    <div class="form-group ">
                        {{Message}}
                    </div>
                    <div>
                        @*ng-disabled="!signupForm.$valid"*@
                        <button type="submit" ng-click="signupForm.$valid && signupCtrl.Submit()" class="btn btn-default">Sign Up</button>
                        <button type="submit" ng-click="signupCtrl.Cancel()" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </form>
        </uib-tab>

        @*<uib-tab index="$index + 1" template-Url="{{tab.templateUrl}}" ng-repeat="tab in TabsCtrl.tabs" heading="{{tab.title}}">
            </uib-tab>*@
    </uib-tabset>
</div>